table {
  border: 1px solid black;  border-collapse: collapse;
  caption-side: bottom;
}

td, th {
  border: 1px solid black;
  width: 70px;
  height: 40px;
}

.heading {
  background-color: #dfdfdf;
}

/* .col-one{
  background-color: aquamarine;
}
.col-two{
  background-color: green;
}
.col-three{
  background-color: blueviolet;
} */